#container {
  background: url("../images/backgrounds/clouds-bg-strip.jpg") repeat-y 0 0;
}
#background {
  background: url("../images/backgrounds/clouds-bg.jpg") repeat-x 0 0;
}

#content-inner {
  background: #226083;
}

h1 {
	font-size: 50px;
	margin: 30px 0 20px 0;
}


